

{% extends 'base.html'%}


{% block content %}

<h1>Hello World</h1>
{{message}}

{% for post in posts%}
<h3>{{post.title}}</h3>


          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/pitch/{{post.id}}/update">Update</a>
            <!-- <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button> -->
          </div>

<h3>{{post.body}}</h3>
<!-- <h4>Posted on: {{post.published}}</h4> -->
<h4>Posted on: {{moment(post.published).fromNow()}}</h4>
<a href="/pitch/{{post.id}}" style=""><h4>Add Comment | View Comments</h4></a>


{% endfor  %}

{% endblock %}


