{% extends 'base.html'%}

{% block content %}
  <article class="media content-section" style="margin-top:100px;">
    <img class="rounded-circle article-img" src="{{ post.user.avatar(36) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.user }}</a>
        <small class="text-muted">Posted: {{moment(post.published).fromNow()}}</small>
        {% if post.user == current_user %}
          <div>
              <div class="row">
                  <div class="col-md-1"> <a class="btn btn-info btn-sm mt-1 mb-1" href="/pitch/{{post.id}}/update">Update</a></div>
                  <div class="col-md-1"><form action="/pitch/{{post.id}}/delete" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
</div>
                   
            
                    
              </div>
               
    
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.body }}</p>
      <div>
            <a href="/pitch/{{post.id}}" style=""><h4>Add Comment | View Comments</h4></a>
      </div>
    </div>
  </article>
{% endblock %}